<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Pandora</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../assets/stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700|Source+Sans+Pro|Staatliches&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="home-navbar">
      <button class="navbar-buttons" id="empty-button"></button>
      <div id="menu-button">
        <input type="submit" class="navbar-buttons" id="menu-button-input" value="">
        <label for="menu-button-input">menu</label>
      </div>
    </div>
    <div class="container">
      <div class="home-title">
        <h3>WELCOME TO</h3>
        <h1>PANDORA</h1>
      </div>
      <div class="color-buttons">
        <div id="pink-button">
          <label for="submit-green-input">New here?</label>
          <input type="submit" id="new-pink-input" class="colored-button" value="">
        </div>
        <div id="green-button">
          <label for="submit-green-input">Submit your work</label>
          <input type="submit" id="submit-green-input" class="colored-button" value="">
        </div>
      </div>
      <div class="paragraph-art">
        <p>Et si l’art était une de ses solutions ?</p>
        <p>Ne serait t’il pas à l’art de faire du bien à notre planète et pourquoi pas grâce aux artistes de notre monde ? Tant que je peux faire émerger cette nouvelle conscience mon passage dans cette époque ne sera en vain. Faisons de notre mieux pour faire partir au plus vite une de ces premières mission pour le bien de notre écosystème. Supporter les artistes. Sauvons la culture sauvons notre planète avant qu’elle ne se sauve elle même !</p>
      </div>
      <div class="spring-exhib-title">
        <h2>SPOTLIGHT</h2>
        <p>DISCOVER OUR SPRING EXHIBITION</p>
      </div>
      <div class="spring-exhib-artworks">
        <div id="first-artwork">
          <img src="../assets/images/artwork-1.png" alt="">
          <figcaption class="art-name">ARTWORK NAME <span class="artist-name">Artist Name</span></figcaption>
        </div>
        <div id="second-artwork">
          <img src="../assets/images/artwork-2.png" alt="">
          <figcaption class="art-name">ARTWORK NAME <span class="artist-name">Artist Name</span></figcaption>
        </div>
        <div id="third-artwork">
          <img src="../assets/images/artwork-3.png" alt="">
          <figcaption class="art-name">ARTWORK NAME <span class="artist-name">Artist Name</span></figcaption>
        </div>
        <div id="fourth-artwork">
          <img src="../assets/images/artwork-4.png" alt="">
          <figcaption class="art-name">ARTWORK NAME <span class="artist-name">Artist Name</span></figcaption>
        </div>
        <div id="fifth-artwork">
          <img src="../assets/images/artwork-5.png" alt="">
          <figcaption class="art-name">ARTWORK NAME <span class="artist-name">Artist Name</span></figcaption>
        </div>
        <div id="sixth-artwork">
          <img src="../assets/images/artwork-6.png" alt="">
          <figcaption class="art-name">ARTWORK NAME <span class="artist-name">Artist Name</span></figcaption>
        </div>
        <div id="seventh-artwork">
          <img src="../assets/images/artwork-7.png" alt="">
          <figcaption class="art-name">ARTWORK NAME <span class="artist-name">Artist Name</span></figcaption>
        </div>
        <div id="eighth-artwork">
          <img src="../assets/images/artwork-8.png" alt="">
          <figcaption class="art-name">ARTWORK NAME <span class="artist-name">Artist Name</span></figcaption>
        </div>
        <div id="ninth-artwork">
          <img src="../assets/images/artwork-9.png" alt="">
          <figcaption class="art-name">ARTWORK NAME <span class="artist-name">Artist Name</span></figcaption>
        </div>
      </div>
      <div class="contact-us">
        <h2>WE LOVE TO HEAR BACK FROM PEOPLE.</br>WANT TO CHAT?</br>HELLO@PANDORALAND.COM</br><span id="bold-title">SEND US AN EMAIL.</span></h2>
      </div>
      <h2 id="logo">PANDORA</h2>
    </div>
  </body>
</html>
