<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Pandora</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700|Source+Sans+Pro|Staatliches&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="home-navbar">
      <button class="navbar-buttons" id="empty-button"></button>
      <div id="menu-button">
        <input type="submit" class="navbar-buttons" id="menu-button-input" value="">
        <label for="menu-button-input">menu</label>
      </div>
    </div>
    <div class="container">
      <div class="home-title">
        <h2>WELCOME TO</h2>
        <h1>PANDORA</h1>
      </div>
      <div class="color-buttons">
        <div id="pink-button">
          <label for="submit-green-input">New here?</label>
          <input type="submit" id="new-pink-input" class="colored-button" value="">
        </div>
        <div id="green-button">
          <label for="submit-green-input">Submit your work</label>
          <input type="submit" id="submit-green-input" class="colored-button" value="">
        </div>
      </div>
    </div>
  </body>
</html>
